<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdArSh KuMaR</title>

    <!-- from awseom cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon">


<!-- costom js file  -->


</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="{{url_for('static', filename='images/logo1.png')}}" alt="logo">
        </a>
        <nav class="navbar">
            <a href="/index">Home</a>
            <a href="#about">About</a>
            <a href="#Project">Project</a>
            <a href="#resume">Resume</a>
            <a href="#contact">Contact Me</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>

    <section class="home">
        <div class="text">
            <h2>"Hi, I'm Adarsh Kumar</h2> A B.Tech student majoring in Computer Science and Engineering at <abbr title="KALASALINGAM ACADEMY OF RESEARCH AND EDUCATION">KARE</abbr>, passionate about technology and eager to explore innovative solutions in the tech world."</p>
        </div>
        <div class="img">
            <img src="{{url_for('static', filename='images/adarsh.jpeg')}}" alt="adarsh image">
        </div>
    </section>
    



    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>